TransformerCompression/
**/__pycache__/
/wandb/
/.vscode/
/config/
/test_HF.ipynb
/test_repo.ipynb
/lmms-eval/logs
/VLM/llava/wandb/
/VLM/llava/checkpoint/
/slurm-*
/VLM/llava/scripts/
/VLM/bunny/eval/mmmu/MMMU/
/VLM/bunny/eval/scienceqa/
/Bunny/
/VLM/bunny/checkpoints/
/VLM/bunny/scripts/
/lmms_eval/
/VLM/bunny/eval/
/VLM/llava/eval/
/LLM-Pruner/lm-evaluation-harness/
/test.ipynb
/VLM/bunny/ckpt/
/VLM/llava/ckpt/